.button-b {
  padding: 18px 48px;
  background-color: black;
  text-align: center;
  color: white;
}

.button-w {
  height: 42px;
  text-align: center;
  border: 1px solid rgba(112, 112, 112, 0.3);
  font-size: 18px;
  font-weight: 300;
}

// button flip-down
.btn-flipdown {
  color: transparent;
  border: none;
  border-radius: 0;
  perspective: 500px;
  transition: 0.3s;
}

.btn-flipdown .front,
.btn-flipdown .back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btn-flipdown.black .front {
  background: black;
  color: white;
  transition: 0.3s;
  transform-origin: center center calc(40px / -2);
}

.btn-flipdown.white .front {
  background: white;
  color: black;
  transition: 0.3s;
  transform-origin: center center calc(40px / -2);
}

.btn-flipdown.black .back {
  color: black;
  background: black;
  transform: rotateX(88deg);
  transform-origin: center center calc(40px / -2);
  transition: 0.3s;
}

.btn-flipdown.white .back {
  color: black;
  background: white;
  transform: rotateX(88deg);
  transform-origin: center center calc(40px / -2);
  transition: 0.3s;
}

.btn-flipdown:hover .front {
  transform: rotateX(-90deg);
}

.btn-flipdown:hover .back {
  color: white;
  transform: rotateX(0deg);
}
