// button flip-down
.btn-flipdown {
  color: transparent;
  border: none;
  border-radius: 0;
  perspective: 500px;
  transition: 0.3s;
}

.btn-flipdown .front,
.btn-flipdown .back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btn-flipdown.white .front,
.btn-flipdown.black .front,
.btn-flipdown.secondary .front {
  transition: 0.3s;
  transform-origin: center center calc(40px / -2);
}

.btn-flipdown.white .front {
  background: white;
  color: black;
}

.btn-flipdown.black .front {
  background: black;
  color: white;
}

.btn-flipdown.secondary .front {
  background: #c98900;
  color: white;
}

.btn-flipdown.white .back,
.btn-flipdown.black .back,
.btn-flipdown.secondary .back {
  transform: rotateX(88deg);
  transform-origin: center center calc(40px / -2);
  transition: 0.3s;
}

.btn-flipdown.white .back {
  color: black;
  background: white;
}

.btn-flipdown.black .back {
  color: black;
  background: black;
}

.btn-flipdown.secondary .back {
  color: white;
  background: #c98900;
}

.btn-flipdown.white .back img,
.btn-flipdown.black .back img,
.btn-flipdown.secondary .back img,
.btn-flipdown.white .back div,
.btn-flipdown.black .back div,
.btn-flipdown.secondary .back div {
  opacity: 0;
  transition: 0.1s;
}

.btn-flipdown.white:hover .back img,
.btn-flipdown.black:hover .back img,
.btn-flipdown.secondary:hover .back img,
.btn-flipdown.white:hover .back div,
.btn-flipdown.black:hover .back div,
.btn-flipdown.secondary:hover .back div {
  opacity: 1;
}

.btn-flipdown:hover .front {
  transform: rotateX(-90deg);
}

.btn-flipdown:hover .back {
  color: white;
  transform: rotateX(0deg);
}

// btn turn round
.btn-turnround {
  height: 100px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.btn-turnround a {
  color: black;
  padding: 4px 12px;
  display: inline-block;
  border: 2px solid transparent;
  position: relative;
  font-size: 18px;
  letter-spacing: 0.02rem;
}

.btn-turnround a .text {
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.btn-turnround a:after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: calc(0.7rem * 1.2);
  right: calc(0.7rem * 1.2);
  height: 2px;
  background: #c98900;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s,
    right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s,
    left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.btn-turnround .line {
  position: absolute;
  background: #c98900;
}
.btn-turnround .line.right,
.btn-turnround .line.left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.btn-turnround .line.top,
.btn-turnround .line.bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.btn-turnround .line.right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.btn-turnround .line.top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.btn-turnround .line.left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.btn-turnround .line.bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.btn-turnround a:hover .text,
.btn-turnround a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.btn-turnround a:hover:after,
.btn-turnround a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s,
    right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.btn-turnround a:hover .line,
.btn-turnround a:active .line {
  transform: scale3d(1, 1, 1);
}

.btn-turnround a:hover .line.right,
.btn-turnround a:active .line.right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.btn-turnround a:hover .line.top,
.btn-turnround a:active .line.top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.btn-turnround a:hover .line.left,
.btn-turnround a:active .line.left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.btn-turnround a:hover .line.bottom,
.btn-turnround a:active .line.bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}
