.toggle-cat {
  cursor: pointer;
  position: relative;
}

.toggle-cat .myinfo {
  position: absolute;
  // top: 100px;
  // right: 96px;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: ease-in-out;
}

.toggle-cat.open .myinfo {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.is-active {
  .list-number {
    background-color: #566cc5;
    p {
      color: $white;
    }
    &:before {
      opacity: 1;
    }
  }
  .list-arrow {
    background-image: url(../../images/icon/list_up_icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.list-body {
  display: none;
}

.more-product {
  margin-bottom: 60px;
  transition: all 250ms ease;
}

.more-product::after {
  content: "+";
  transition: all 250ms ease;
}

.more-product.is-active {
  background-color: #003665;
  color: white;
  transition: all 250ms ease;
}

.more-product.is-active::after {
  content: "-";
  transition: all 250ms ease;
}
