// ----- input checkbox -----
.checkwrap {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkwrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.round-check,
.square-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
}

.checkwrap input ~ .round-check {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.checkwrap input ~ .square-check {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.checkwrap input:checked ~ .round-check {
  background-color: #c98900;
  border: 1px solid transparent;
  border-radius: 50%;
  margin-top: 4px;
}

.checkwrap input:checked ~ .square-check {
  background-color: #c98900;
  border: 1px solid transparent;
  border-radius: 2px;
}

.round-check::after,
.square-check::after {
  content: "";
  position: absolute;
  display: none;
}

.checkwrap input:checked ~ .round-check::after,
.checkwrap input:checked ~ .square-check::after {
  display: block;
}

.checkwrap .round-check::after,
.checkwrap .square-check::after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
