select {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: inherit;
  outline: none;
  min-width: 30px;
  padding-left: 20px;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  border-radius: 5px;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  align-items: center;
  cursor: pointer;
}

.select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0.75rem;
  height: 0.45rem;
  background-color: #222222;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
  cursor: pointer;
}

select:required:invalid {
  color: rgba(63, 69, 71, 0.6);
}
