@media only screen and (max-width: 767px) {
  .trend-tab .trend-title.selected::after {
    height: 0px;
  }

  .trend-tab {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .trend-tab {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .trend-tab .trend-title::after,
  .trend-tab .trend-title.selected::after {
    content: "";
    width: 1px;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .trend-tab .trend-title::after {
    height: 0px;
  }

  .trend-tab .trend-title.selected {
    text-shadow: 0.5px 0.5px 0px #fff, 0.5px 0.5px 0px #fff;
  }

  .trend-tab .trend-title.selected::after {
    height: 48px;
  }

  .trend-tab:hover {
    text-shadow: 0.5px 0.5px 0px #fff, 0.5px 0.5px 0px #fff;
  }

  .trend-tab:hover .trend-title::after {
    height: 48px;
  }
}
