// toggle list
.list-body {
  display: none;
}

.toggle-list {
  transition: all 300ms ease;
}

.toggle-list .list-wrap {
  border: 1px solid #003665;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

.toggle-list .list-wrap:hover {
  background-color: #003665;
  color: white;
}

.toggle-list.list-active .list-wrap {
  color: white;
  background-color: #003665;
}

.toggle-list.list-active + .list-body {
  border: 1px solid #dddddd;
}

.toggle-list .list-info::after,
.toggle-list.list-active .list-info::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
  transition: all 100ms ease-in-out;
  font-size: 26px;
  font-weight: 500;
}

.toggle-list.list-active .list-info::after {
  content: "-";
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
  transition: all 100ms ease-in-out;
  font-size: 26px;
  font-weight: 500;
}

.toggle-list .list-info > h3 {
  color: #003665;
  transition: all 200ms ease;
}

.toggle-list .list-info > h4 {
  color: black;
  font-weight: 300;
  transition: all 200ms ease;
}

.toggle-list .list-wrap:hover .list-info > h3,
.toggle-list .list-wrap:hover .list-info > h4 {
  color: white;
}

.list-wrap:hover .list-info > .vertical-line-g {
  background-color: #fff;
}

.toggle-list.list-active .list-info > h3,
.toggle-list.list-active .list-info > h4 {
  color: white;
}

.toggle-list.list-active .vertical-line-g {
  background-color: white;
}

@media only screen and (max-width: 767px) {
  .toggle-list .list-info::after,
  .toggle-list.list-active .list-info::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    transition: all 100ms ease-in-out;
    font-size: 26px;
    font-weight: 500;
  }

  .toggle-list.list-active .list-info::after {
    content: "-";
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    transition: all 100ms ease-in-out;
    font-size: 26px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .toggle-list .list-info::after {
    right: 26px;
  }

  .toggle-list.list-active .list-info::after {
    right: 26px;
  }
}

// toggle cat
.cat-body {
  display: none;
}

.toggle-cat {
  transition: all 300ms ease;
}

.toggle-cat::after {
  content: "+";
  transition: all 300ms ease;
  font-size: 22px;
}

.toggle-cat.cat-active {
  color: rgba(51, 51, 51, 0.6);
  transition: all 300ms ease;
}

.toggle-cat.cat-active::after {
  content: "-";
  transition: all 300ms ease;
  font-size: 26px;
}

// more product
.list-body {
  display: none;
}

.more-product {
  margin-bottom: 60px;
  transition: all 250ms ease;
}

.more-product::after {
  content: "+";
  transition: all 250ms ease;
  font-size: 22px;
  margin-top: 2px;
}

.more-product.is-active {
  background-color: #003665;
  color: white;
  transition: all 250ms ease;
}

.more-product.is-active::after {
  content: "-";
  transition: all 250ms ease;
  font-size: 22px;
  margin-bottom: 2px;
}
