// parallel line
.deco-line-g {
  width: 50px;
  height: 1px;
  background-color: #707070;
}

.deco-line-w,
.deco-line-b {
  position: relative;
  width: 40px;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.deco-line-w {
  background-color: white;
}

.deco-line-b {
  background-color: black;
}

.deco-line-w::before,
.deco-line-b::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 36px;
  width: 1px;
  height: 8px;
  right: 2px;
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg);
}

.deco-line-w::before {
  background-color: white;
}

.learn-more:hover .deco-line-w {
  width: 75px;
}

.learn-more:hover .deco-line-w::before {
  left: 71px;
}

.learn-more-b:hover .deco-line-b {
  width: 20px;
}

.vertical-line-g {
  width: 1px;
  height: 23px;
  background-color: rgba(34, 34, 34, 0.5);
}

.hoverbg-items .deco-line {
  background-color: #fff;
  width: 40px;
  height: 1px;
}

// slash
.slash,
.slash-0 {
  height: 50px;
  transform: rotateZ(60deg);
  margin-left: 30px;
  margin-right: 30px;
}

.slash-mob {
  height: 20px;
  border-right: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
}

.slash,
.slash-mob {
  border-right: 1px solid white;
}

.slash-0 {
  border-right: 0px;
}

.slash-page {
  height: 16px;
  border-right: 1px solid black;
  transform: rotateZ(20deg);
  margin: 0 8px;
}

// bullet point
ul.mybullet {
  list-style: none;
}

ul.mybullet li {
  font-weight: 300;
}

ul.mybullet li::before {
  content: "";
  background-color: #c98900;
  font-weight: bold;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

// gradient overlay
.gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, #000);
  opacity: 0.65;
}

.test-block {
  min-width: 100px;
  min-height: 100px;
  padding: 20px;
  background-color: #ccc;
}

// section after
.section-after {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.section-after::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to bottom, transparent, #fff);
  pointer-events: none;
  z-index: -1;
}
