// scroll header
// site header des
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: white;
  width: 100%;
  height: 150px;
  padding: 0 50px;
  transition: all 0.4s ease;
}

.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to bottom, #000, transparent);
  opacity: 0.7;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

// site header mob
.site-header-mob {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: white;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  transition: all 0.4s ease;
}

.site-header-mob::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to bottom, #000, transparent);
  opacity: 0.7;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hero-half-img,
.hero-img {
  position: relative;
}

.hero-half-img::after,
.hero-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, #000);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hero-half-img::after {
  height: 160px;
  opacity: 0.35;
}

.hero-img::after {
  height: 218px;
  opacity: 0.8;
}

.site-header.is-active {
  background-color: white;
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.1);
  height: 100px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.site-header-mob.is-active {
  background-color: white;
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.1);
  height: 100px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.site-header.is-active::before {
  opacity: 0;
}

.site-header-mob.is-active::before {
  opacity: 0;
}

.site-header.is-active .menu-item {
  color: black;
}

.site-header.is-active .header-svg {
  fill: black;
  transition: all 0.5s ease;
}

.site-header.is-active .header-svg + span {
  color: white;
  transition: all 0.5s ease;
}

.site-header.is-active .header-svg + .inside-icon {
  fill: white;
  transition: all 0.5s ease;
}

/* menu bar */
.menu-bar {
  height: 100%;
  width: 22px;
}

.menu-bar .lines {
  position: absolute;
  top: 50%;
  z-index: 999;
}

.menu-bar .lines .line-1 {
  top: -10px;
}
.menu-bar .lines .line-2 {
  top: -2px;
}
.menu-bar .lines .line-3 {
  top: 6px;
}

.menu-bar .lines > div {
  position: absolute;
  background: #fff;
  width: 22px;
  height: 2.5px;
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.site-header-mob.is-active .lines > div {
  background: black;
}

.menu-items {
  position: fixed;
  background: rgba(18, 18, 18, 0.75);
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  padding: 24px;
  border-radius: var(--border-radius-4);
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: ease-in-out;
}

/* menu bar animation */
.menu-bar.open .line-1 {
  top: -2px !important;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menu-bar.open .line-2 {
  opacity: 0;
}

.menu-bar.open .line-3 {
  top: -2px !important;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu-bar.open .menu-items {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu-items .item {
}
