.trans200 {
  @apply transition ease-in-out duration-200;
}

// product grayscale hover
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.product::before,
.product::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.product::after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.76) 0,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  transition: 300ms opacity linear;
}

.product > * {
  z-index: 1;
}

.product img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.product-color img {
  filter: grayscale(0);
}

.product h3,
.product h6 {
  transform: translateY(120px);
}

.product h3 {
  transition: 350ms transform ease;
}

.product h6 {
  opacity: 0;
  transition: 350ms opacity linear, 350ms transform ease-in-out;
}

.product:hover :is(h3, h6) {
  transform: none;
}

.product:hover::after,
.product:hover::before {
  opacity: 0.7;
}

.product:hover h6 {
  opacity: 1;
}

a.product:hover img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

// trend hover
.trend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1/1;
  position: relative;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.trend img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  transition: filter 150ms ease, transform 200ms linear;
}

.trend h3,
.trend h5,
.trend .plus-icon {
  opacity: 0;
  transition: 250ms opacity linear, 250ms transform ease-in-out;
}
.trend:hover {
  box-shadow: inset 0 0 0 275px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.8);
}

.trend:hover :is(h3, h5, .plus-icon) {
  transform: none;
}

.trend:hover h3,
.trend:hover h5,
.trend:hover .plus-icon {
  opacity: 1;
}

// menu item hover
.menu-item {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.menu-item::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  // width: 40px;
}

.menu-item:hover::after {
  width: 100%;
  left: 0;
}

// hover trend effect
.ch-opacity {
  opacity: 1 !important;
}

.ch-white-text h3 {
  color: #ffffff !important;
}

.ch-white-text h3 a {
  color: #ffffff !important;
  text-decoration: none !important;
}
.ch-white-text p {
  color: #ffffff !important;
  padding: 1px 0 !important;
  margin: 0 28px !important;
}
.ch-white-text p a {
  color: #ffffff !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.ch-grid {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
.ch-grid:after {
  content: "";
  display: table;
  clear: both;
}
.ch-grid li {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  position: relative;
  cursor: default;
  transition: all 0.4s ease-in-out;
}
.ch-item:before {
  content: "";
  display: table;
}

.ch-item:hover {
  box-shadow: inset 0 0 0 110px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.7);
}

.ch-item:hover .ch-info {
  opacity: 1;
}

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  backface-visibility: hidden;
}

.ch-info h3 {
  color: white;
  position: relative;
  font-size: 20px;
  margin: 0 4px;
  padding: 70px 0 0;
  height: 36px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

.ch-info p {
  color: white;
  padding: 10px 4px;
  margin: 0 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.ch-info p a {
  display: block;
  color: rgba(51, 51, 51, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.ch-info p a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.ch-opacitybg:hover {
  box-shadow: inset 0 0 0 110px #7cbf90, 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}

.ch-img-1 {
  background-image: url(./images/trend_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-2 {
  background-image: url(./images/trend_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-3 {
  background-image: url(./images/trend_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// hover header svg
svg.header-svg {
  fill: white;
  transition: all 0.4s ease;
}

svg.header-svg:hover {
  fill: black;
}

.header-svg span {
  transition: all 0.4s ease;
}

svg.header-svg:hover + span {
  color: white;
}

svg.inside-icon {
  fill: black;
  width: 40%;
  height: 40%;
  transition: all 0.4s ease;
}

.header-svg:hover + .inside-icon {
  fill: white;
}
